body{
    margin: 0;
    background: linear-gradient(to left bottom, rgb(31, 235, 109), rgb(101, 5, 226) , rgb(67, 216, 105));
    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.container{
    background-color: rgba(255,255,255,.3);
    padding: 20px;
    box-shadow: 0 6px 10px rgba(223, 223, 223, 0.3);
    border-radius: 15px;
    width: 85%;
    text-align: center;
    color: rgb(12, 236, 31);
    background-color: rgba(223, 223, 223, 0.3);
}

.heading{
    font-size: 35px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px 2px rgba(76, 0, 255, 0.959);
    letter-spacing: 2px;
}

.joker{
    font-size: 25px;
    font-weight: 500;
    margin: 40px;
}

.btn{
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    color: rgb(94, 0, 218);
    background-color:rgba(59, 236, 65, 0.918);
    border-color: rgb(110, 9, 243);
}

.btn:hover{
    background-color: rgb(35, 124, 50);
    box-shadow: 0 4px rgb(73, 11, 243);
    transition: all 300ms ease;
}

